@import url("https://fonts.cdnfonts.com/css/montserrat");

:root {
  --background: #101010;
  --sec: #a476ff;
  --white: #dfdfdf;
  --white-icon: #f3f3f398;
  --white-icon-tr: #f3f3f310;
  --container: #1a1a1a;
  --component-bg: #1a1a1a;
  --line: #2a2a2a;
  --pink: #a476ff;
}

* {
  font-family:
    "Montserrat",
    -apple-system,
    system-ui,
    sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--sec);
  color: var(--background);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--container);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--line) var(--container);
}

/* disable ALL native sliders when custom sliders are active (prevents hand movement) */
html.custom-cursor-enabled,
html.custom-cursor-enabled * {
  cursor: none !important;
}
