@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@media (min-width: 768px) {
  .animate-scroll {
    animation-duration: 80s;
  }
}
