---
const { lang = "fr", t } = Astro.props as {
  lang: "fr" | "en";
  t: (k: string) => string;
};
const cvPath = "/CV_MANGIONE_MELISSA.pdf";
---

<section id="contact" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">
      {t("contact.kicker")}
    </h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      {t("contact.title")}
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="text-[var(--white-icon)]">
        <p class="mb-4">
          {t("contact.blurb")}
        </p>
        <div class="flex items-center gap-2">
          <span>{t("contact.locationLabel")}</span>
          <span class="text-[var(--white)]">{t("contact.locationValue")}</span>
        </div>

        <!-- Button CV -->
        <div class="mt-4 flex items-center gap-3">
          <a
            href={cvPath}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 px-4 py-2 rounded-full border border-[var(--white-icon-tr)] bg-[#1414149c] text-violet-400 hover:text-violet-600 hover:bg-[var(--white-icon-tr)] transition duration-300 ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                d="M12 5C7 5 2.73 8.11 1 12c1.73 3.89 6 7 11 7s9.27-3.11 11-7c-1.73-3.89-6-7-11-7Zm0 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10Zm0-2.5A2.5 2.5 0 1 0 12 9a2.5 2.5 0 0 0 0 5Z"
              ></path>
            </svg>
            <span class="text-sm md:text-base">{t("home.cv.view")}</span>
          </a>
          <a
            href={cvPath}
            download
            class="flex items-center gap-2 px-4 py-2 rounded-full border border-[var(--white-icon-tr)] bg-[#1414149c]  text-violet-400 hover:text-violet-600 hover:bg-[var(--white-icon-tr)] transition duration-300 ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                d="M11 2h2v10.586l2.293-2.293 1.414 1.414L12 16.414l-4.707-4.707 1.414-1.414L11 12.586V2ZM5 18h14v2H5v-2Z"
              ></path>
            </svg>
            <span class="text-sm md:text-base">{t("home.cv.download")}</span>
          </a>
        </div>
      </div>

      <div>
        <form
          id="contact-form"
          action="https://formspree.io/f/mnnjznkj"
          method="POST"
          class="flex flex-col gap-4"
        >
          <input
            type="text"
            name="from_name"
            placeholder={t("contact.name")}
            required
            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)]"
          />
          <input
            type="email"
            name="reply_to"
            placeholder={t("contact.email")}
            required
            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)]"
          />
          <textarea
            name="message"
            placeholder={t("contact.message")}
            rows="6"
            required
            class="px-4 py-2 bg-[#1414149c] text-[var(--white)] border border-[var(--white-icon-tr)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--sec)] resize-none"
          ></textarea>
          <button
            type="submit"
            class="px-4 py-2 bg-[var(--white-icon-tr)] text-[var(--white)] rounded-lg opacity-60 transition-opacity border border-[var(--white-icon-tr)] hover:opacity-100 hover:bg-[var(--white-icon-tr)]"
          >
            {t("contact.send")}
          </button>
        </form>
        <div
          id="form-message"
          class="hidden justify-center items-center mt-4 text-[var(--white)] text-lg"
        >
          ✅ {t("contact.success")}
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" is:inline>
  const form = document.getElementById("contact-form");
  const formMessage = document.getElementById("form-message");

  const successMsg = `{t("contact.success")}`;
  const errorMsg = `{t("contact.error")}`;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: formData,
        headers: { Accept: "application/json" },
      });
      if (response.ok) {
        form.reset();
        form.style.display = "none";
        formMessage.classList.remove("hidden");
        formMessage.textContent = `✅ ${successMsg}`;
      } else {
        console.error("Error response:", await response.json());
        alert(errorMsg);
      }
    } catch (error) {
      console.error("Error:", error);
      alert(errorMsg);
    }
  });
</script>
